@import url("https://fonts.googleapis.com/css?family=Oxygen|Merriweather:300i|Questrial|Nunito:300|IBM+Plex+Sans:300i");
*{ box-sizing: border-box}

html {height: 100%}

.banner-image-container {
    background-image: url("content/Snowy_forest 3.png");
    min-height: 32.5%;
    margin: 0% 0% 0.75% 0%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: opacity(50px);
}

body {
    color: black;
    background-color: #F7F5F5 ;
    height: 100%;
}

.headhead-container{
    position: sticky;
    top: 0;
    margin: 0.5% 15% 0.5% 15%;
    background-color: #F7F5F5;
}

.head-container {
    margin: 0.5% 0% 0.5% 0%;
    padding: 0.5%;
    border-top: 0.015em solid black;
    border-bottom: 0.015em solid black;
    text-align: center;
    font-size: 500%;
    font-family: 'Merriweather' sans-serif;
    color: #333333;
}

.body-container {
    width: 56vw;
    display: inline-block;
    margin: 0.5% 22% 1.5% 22%;
    padding: 1% 1.2% 1% 1.2%;
}

.info-container {
    text-align: left;
    font-family: 'Nunito', sans-serif;
    font-weight: 2;
    font-size: 138%;
    word-spacing: 0.1em;
    color: #333333;
}

.subtitle {
    font-family: 'Merriweather', sans-serif;
    font-size: 200%;
}

.body-image-container {
    text-align: center;
    vertical-align: middle;
    font-family: 'Nunito', sans-serif;
}

.body-image {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 28em;
    height: 15.75em;
    padding: 0% 0.25% 0% 0.25%;
    /* border: 2px solid black; */
    box-shadow: inset 0px 0px 40px 40px #F7F5F5;
}

.list-left {
    width: 12%;
    padding: 0;
    background-color: #F7F5F5;
    position: fixed;
    height: 30%;
    top: 32.5%;
    overflow: auto;
    list-style-type: none;
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: left;
    font-size: 150%;
}
  
.list-left a {
    display: block;
    color: #000;
    padding: 4.75% 15%;
    text-decoration: none;
}
  
.list-left a.active {
    background-color: #4CAF50;
    color: #F7F5F5;
}
  
.list-left a:hover:not(.active) {
    background-color: #777;
    color: #F7F5F5;
}